[user]
	email = avishek.kumar@outlook.com
	name = Avishek Kumar

[push]
    default = current

[core]
    editor = emacsclient -t

[github]
    user = avishekrk

[url "git@github.com:avishekrk/"]
     insteadOf = avishekrk:

[url "git@github.com:dssg/"]
     insteadOf = dssg:
